<div class="footer-container">
  <div class="footer-inner">
    <div class="logo">
      <img src="/Images/Pictures/icon.png" alt="Greenxertz logo" />
    </div>
    <div class="footer-content">
      <nav class="footer-nav">
        <a class="button" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="button" routerLink="/about" routerLinkActive="active">About</a>
        <a class="button" routerLink="/projects" routerLinkActive="active">Projects</a>
        <a class="button" routerLink="/experience" routerLinkActive="active">Experience</a>
        <a class="button" routerLink="/contact" routerLinkActive="active">Contact</a>
      </nav>
      <div class="social-media">
        <a
          href="https://www.linkedin.com/in/marcoteixeira308/"
          class="btn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="devicon-linkedin-plain"></i>
        </a>
        <a
          href="https://github.com/Greenxertz"
          class="btn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="devicon-github-original"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © 2024 - Greenxertz.co.za</p>
  </div>
</div>
