<section class="Contact-page">
  <h2>Want to connect or leave a message?</h2>
  <div class="container">
    <div class="contact-container">
      <form class="form-container" (ngSubmit)="onSubmit($event)">
        <mat-form-field class="form-field">
          <mat-label>First Name</mat-label>
          <input
            matInput
            [formControl]="nameFormControl"
            placeholder="First name"
          />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input
            matInput
            [formControl]="emailFormControl"
            placeholder="Ex. Max@example.com"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Message</mat-label>
          <textarea
            matInput
            [formControl]="messageFormControl"
            maxlength="256"
            placeholder="Ex. Your message here"
          ></textarea>
          <mat-hint align="end">
            {{ (messageFormControl.value?.length ?? 0) }} / 256
          </mat-hint>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="btn-submit"
        >
          Submit
        </button>
      </form>
    </div>

    <div class="separator"></div>

    <div class="links">
      <a
        href="https://github.com/Greenxertz"
        class="btn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="devicon-github-original"></i> Github
      </a>
      <a
        href="mailto:marcotexiera308@gmail.com"
        class="btn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="icon-google"></i> Gmail
      </a>
      <a
        href="https://www.linkedin.com/in/marcoteixeira308/"
        class="btn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="devicon-linkedin-plain"></i> LinkedIn
      </a>
    </div>
  </div>
</section>
