<section class="intro">
  <h2>So what have I worked on?</h2>
  <p>Some projects completed, and some under construction.</p>
</section>

<section class="recent-projects">
  <h2>Recent projects</h2>
  <!-- <div class="cards"></div>

  <div class="construction">
    <h2>Some projects under construction</h2>
  </div>

  <div class="cards">
    <app-showcasecards
      *ngFor="let prototype of prototypes"
      [imageUrl]="prototype.imageUrl"
      [title]="prototype.title"
      [desc]="prototype.desc"
      [chips]="prototype.chips"
    ></app-showcasecards>
  </div> -->
</section>
<section class="recent-projects">
  <h2>Recent projects</h2>
  <div class="projects-container">
    <app-showcasecards
      *ngFor="let project of projects"
      [imageUrl]="project.imageUrl"
      [title]="project.title"
      [desc]="project.desc"
      [chips]="project.chips"
    ></app-showcasecards>
  </div>
 
</section>
