* {
  color: #b3b4bd;
   font-family: "Aeonik Trial", sans-serif;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  overflow-x: hidden;
  background: none;
}

.intro h2 {
  font-size: 70px;
  margin-bottom: 0px;
}
.intro h1 {
  font-size: 30px;
}
.intro p {
  font-size: 20px;
}

.image-container {
  position: relative;
  width: 250px;
  height: 250px;
  border: 2px solid #b3b4bd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 25px;
  box-shadow: #b3b4bd 0px 0px 40px -10px;
  animation: breath 6s linear infinite;
  perspective: 1000px;
  background-color: #141619;
}

@keyframes breath {
  0%,
  100% {
    box-shadow: #fdfdfd 0px 0px 40px -10px;
  }
  16.66%,
  33.3%,
  66.66%,
  83.33% {
    box-shadow: #141619 0px 0px 40px -10px;
  }

  49.9% {
    box-shadow: rgb(2, 255, 2) 0px 0px 40px -10px;
  }
}

.image-container img {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  backface-visibility: hidden;
}

.img1 {
  animation: imagechange 6s linear infinite;
}

.img2 {
  animation: imagechange2 6s linear infinite;
}

@keyframes imagechange {
  0%,
  100% {
    transform: rotateY(0deg);
    z-index: 2;
  }
  25% {
    transform: rotateY(0deg);
    z-index: 1;
  }
  50% {
    transform: rotateY(180deg);
    z-index: 1;
  }
  75% {
    transform: rotateY(180deg);
    z-index: 1;
  }
}

@keyframes imagechange2 {
  0%,
  100% {
    transform: rotateY(180deg);
    z-index: 1;
  }
  25% {
    transform: rotateY(180deg);
    z-index: 2;
  }
  50% {
    transform: rotateY(0deg);
    z-index: 2;
  }
  75% {
    transform: rotateY(0deg);
    z-index: 2;
  }
}


.title {
  text-align: center;
  text-decoration: underline;
  font-size: 100px;
}

.scroll-indicator {
    text-align: center;
    margin-top: 20px;
    height: 20%;
    display: flex;
    justify-content: center;
}

.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll::before {
	content: '';
	position: absolute;
	top: 15px;
	left: 18px;
	width: 18px;
	height: 18px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(-45deg);
}

@keyframes down {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translateY(0);
	}
}

.info-container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    background: #141619;
    padding: 0 10%;
    border-radius: 20px;
}

.info-container::after {
    content: '';
    clear: both;
}

#about {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    background: none;
}
#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 23px;
    height: 100%;
    width: 4px;
    background: green;
    border: #141619 2px solid;
    border-radius: 50px;
}

@media only screen and (min-width: 1170px) {
    #about {
        margin-top: 1em;
        margin-bottom: 3em;
    }
    #about::before {
        left:50%;
        transform: translateX(-2px);
        margin-left: -2px;
    }
}

.info-block {
    position: relative;
    margin: 2em 0;
    
}

.info-block:after {
    content: "";
    display: table;
    clear: both;
}

.info-block:first-child {
    margin-top: 0;
}

.info-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .info-block {
        margin: 4em 0;
    }
    .info-block:first-child {
        margin-top: 0;
    }
    .info-block:last-child {
        margin-bottom: 0;
    }
}

.info-image {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px green, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background: #141619;
}

@media only screen and (min-width: 1170px) {
    .info-image {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
    }
}

.info-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: #141619;
    border-radius: 10px;
    padding: 1em;
    border: green solid 2px;
}

.info-content:after {
    content: "";
    display: table;
    clear: both;
    
}

.info-content h2 {
  color: #fdfdfd;
  text-align: center;
  text-decoration: underline;
    margin-top: 0;
    margin-bottom: 5px;
}

.info-content p {
    margin: 1em 0;
    line-height: 1.8;
}

.info-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid green
    ;
    
}

@media only screen and (min-width: 768px) {
    .info-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .info-content p {
        font-size: 16px;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1170px) {
    .info-content {
        color: white;
        margin-left: 0;
        padding: 1.6em;
        width: 36%;
        margin: 0 5%;
    }
    .info-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: green;
    }
    .info-block:nth-child(even) .info-content {
        float: right;
    }
    .info-block:nth-child(even) .info-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: green;
    }
}
