<section class="intro">
  <div class="image-container">
    <img src="/Images/Pictures/labelpic.jpg" class="img1" />
    <img src="/Images/Pictures/icon.png" class="img2" />
  </div>
  <div class="container">
    <h2>
      <u style="font-style: italic">Greenxertz</u> <br />
      That's me! <br /><u style="font-style: italic">Marco Teixeira</u>
    </h2>
    <h1>Wanna get to know me?</h1>
  </div>
</section>
<div class="scroll-indicator">
  <div class="scroll"></div>
</div>

<h2 class="title">So what's there to tell?</h2>

<section id="about" class="info-container">

  <div class="info-block">
    <div class="info-image cd-picture"></div>
    <div class="info-content">
      <h2>A quick intro:</h2>
      <p>
        I am a persistent individual who excels at any activity thrown my way. I
        always go above and beyond to showcase my vision for a project, whether
        it's technical or visual. I’m passionate about my craft and constantly
        push the boundaries to think outside the box.
      </p>
    </div>
  </div>

  <div class="info-block">
    <div class="info-image cd-movie"></div>
    <div class="info-content">
      <h2>My Education</h2>
      <p>
        While originally pursuing a BSc in Electrical and Electronic
        Engineering, I fell in love with coding and its process. I see problems
        as puzzles that require me to create the solution's pieces. After
        realizing this, I transferred universities from Stellenbosch to Eduvos,
        where I am currently completing my BSc in Information Technology
        (Software Engineering) in 2024. I am on track to graduate with <span
          style="font-weight: bold; font-style: italic"
          >Cum Laude</span
        >, which I am really proud of. Did I also mention that I was in an
        all-boys school where tradition is key, and the creed "Palma Virtuti" -
        Reward is to the brave - is instilled in us?
      </p>
    </div>
  </div>

  <div class="info-block">
    <div class="info-image cd-picture"></div>
    <div class="info-content">
      <h2>Whats ahead?</h2>
      <p>
        Looking ahead, I aim to apply my skills in innovative ways and
        contribute to impactful projects. I’m excited about the prospect of
        working in dynamic environments where I can continue to learn and make a
        difference.
      </p>
    </div>
  </div>

  <div class="info-block">
    <div class="info-image cd-location"></div>
    <div class="info-content">
      <h2>Time off?</h2>
      <p>
        When I'm not coding or working on projects, I'm at the usual braai and meet-ups with friends,
        I enjoy learning new skills, building DIY projects, or exploring new
        places. I love finding the perfect restaurant for a cup of coffee or
        goofing off with friends in the bush. I’m also always on the lookout for
        new challenges and experiences that can help me grow both personally and
        professionally.
      </p>
    </div>
  </div>

  <div class="info-block">
    <div class="info-image cd-location"></div>
    <div class="info-content">
      <h2>So why Greenxertz?</h2>
      <p>
        Here’s a funny story: my favorite color is Green, and
        <a href="https://www.google.com/search?q=xertz">Xertz</a>
        is a quirky word my coach coined for me after a regatta. It means to
        gulp water extremely quickly- he called me Xertzy. When I googled the
        term and found no results, I decided to embrace it. Now, if you search
        for Greenxertz, Most of the results are linked to me. Neat, right?
      </p>
    </div>
  </div>

  <div class="info-block">
    <div class="info-image cd-location"></div>
    <div class="info-content">
      <h2>So why the duck logo?</h2>
      <p>
        As for the duck logo, there's an inside joke from high school where we
        had to bring a green rubber duck to someone’s house. It stuck, and now,
        I have my green rubber duck for debugging.
      </p>
    </div>
  </div>
</section>
