<div class="col" ontouchstart="this.classList.toggle('hover');">
  <div class="container">
    <div class="front" [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')' }">
      <div class="inner">
        <h2>{{ title }}</h2>
        <span>iyguig</span>
      </div>
    </div>
    <div class="back">
      <div class="inner">
        <h2>{{ desc }}</h2>
        <mat-chip-set>
          <mat-basic-chip *ngFor="let chip of chips" class="custom-chip">
            <i class="{{ chip }}"></i>
          </mat-basic-chip>
        </mat-chip-set>
      </div>
    </div>
  </div>
</div>
