<section *ngIf="project" class="content">
  <div class="slider-wrapper">
    <button class="nav left" (click)="prevSlide()">&#10094;</button>
    
    <div class="slider" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
      <div *ngFor="let image of project.images; let i = index" class="image-container">
        <img [src]="image" alt="{{ image }}" />
      </div>
    </div>

    <button class="nav right" (click)="nextSlide()">&#10095;</button>
    <div class="dots">
      <span
        *ngFor="let image of project.images; let i = index"
        class="dot"
        [class.active]="i === currentSlide"
        (click)="goToSlide(i)"
      ></span>
    </div>
  </div>

  <div class="details">
    <div class="btn">
      <button>Github</button>
      <button>External link</button>
    </div>
    <h2>{{ project.title }}</h2>
    <p>{{ project.desc }}</p>
    <h2>The tools used in this project:</h2>
    <div class="tags">
      <mat-basic-chip *ngFor="let chip of project.chips" class="custom-chip">
        <i class="{{ chip }}"></i>
      </mat-basic-chip>
    </div>
  </div>
</section>
