<nav>
  <a class="button" routerLink="/home" routerLinkActive="active">
    Home
  </a>
  <a class="button" routerLink="/about" routerLinkActive="active">
    About
  </a>  
  <a class="button" routerLink="/projects" routerLinkActive="active">
    Projects
  </a>
   <a class="button" routerLink="/experience" routerLinkActive="active">
    Experience
  </a> 
  <a class="button" routerLink="/contact" routerLinkActive="active">
    Contact
  </a>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer> 
<app-mousetrail></app-mousetrail>