<section class="intro">
  <div class="image-container">
    <img src="/Images/Pictures/labelpic.jpg" alt="" />
  </div>
  <div class="container">
    <h2>Hi, <br />I'm Marco Teixeira</h2>
    <h1>I'm a Software Engineer</h1>
    <p>
      I'm passionate about my craft and always try to think outside the box.
    </p>
  </div>
</section>
<div class="scroll-indicator">
  <p class="scroll-text">Scroll Down</p>
  <div class="bouncing-v">
    <svg
      width="60"
      height="60"
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg"
      fill="none" 
    >
      <path d="M10 10 L50 90 L90 10 Z" stroke ="#b3b4bd" />
      <!-- Downward pointing V shape -->
    </svg>
  </div>
</div>
<section class="content">
  <div class="title">
    <h2 #animatedText class="animated-text">The Tools in my Toolkit:</h2>
  </div>

  <div class="card-container">
    <app-card
      *ngFor="let tool of tools"
      [iconUrl]="tool.iconUrl"
      [title]="tool.title"
    ></app-card>
  </div>

  <div class="title">
    <h2 #animatedText class="animated-text">The Frameworks in my Toolkit:</h2>
  </div>
  <div class="card-container">
    <app-card
      *ngFor="let framework of frameworks"
      [iconUrl]="framework.iconUrl"
      [title]="framework.title"
    ></app-card>
  </div>

  <div class="title">
    <h2 #animatedText class="animated-text">
      My Tools outside of Development:
    </h2>
  </div>
  <div class="card-container">
    <app-card
      *ngFor="let hobby of hobbies"
      [iconUrl]="hobby.iconUrl"
      [title]="hobby.title"
    ></app-card>
  </div>
</section>
