<section class="sect-timeline">
  <ul class="timeline">
    <li class="timeline-event">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">April 2022 - October 2023 </p>
        <h3>Beatrix Events</h3>
        <h4></h4>
        <p>
        </p>
        <p>
        </p>
      </div>
    </li>
    <li class="timeline-event">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">April 2022- July 2022</p>
        <h3>Gree for rings</h3>
        <h4>Designer</h4>
        <p>
        </p>
      </div>
    </li>
    <li class="timeline-event">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">December 2019</p>
        <h3>Help </h3>
        <h4></h4>
        <p>
          
        </p>
      </div>
    </li>
  </ul>
</section>
